html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

footer {
  display: grid;
  grid-template-areas:
  "img1 img2 img3";
}

footer ul>li:first-child {
  grid-area: img1;
}

footer ul>li:nth-child(2){
  grid-area: img2;
}

footer ul>li:nth-child(3) {
  grid-area: img3;
}
